<div class="table-container">
    <table class="table-data">
      <tr class="table-row">
        <th>No</th>
        <th>Name</th>
        <th>Brand</th>
      </tr>
      <tr *ngFor="let item of tableData" class="table-row">
        <td>{{ item.No }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.Brand }}</td>
      </tr>
    </table>
</div>
