.card {
    background-color: rgb(253, 239, 239);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 25px;
    border-left: 4px solid orange;

}
.label-primary {
    font-style: normal;
    margin-left: 15px;
}
.btn-del{
    display: flex;
    align-self: center;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
.btn-del:hover{
    background-color: rgb(255, 255, 255);
}