.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-style: normal;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgb(235, 228, 228);
    border-radius: 20px;
}
.todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width: 100%;
    color: rgb(255, 187, 1);
}
.text-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    
}
.btn-del{
    display: flex;
    height: -moz-fit-content;
    align-self: center;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
.btn-del:hover{
    background-color: rgb(152, 255, 250);
}
.btn-text {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background: orange;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 30px;
  }
  .input-content {
    font-size: 20px;
    padding-left: 20px;
    height: 45px;
    border: snow;
    border-radius: 5px;
    outline: none;

  }
  .form-group{
    position: relative;

  }