<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/card-component" routerLinkActive="active" ariaCurrentWhenActive="page">Card Component</a></li>
    <li><a routerLink="/table-component" routerLinkActive="active" ariaCurrentWhenActive="page">Table Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>



<div class="main">
  <div class="container">
    <div class="todo-container">Todo App</div>
    <div class="text-container">
      <form [formGroup]="form" class="form-group">
        <input type="text" formControlName="name" class="input-content" />
        <button type="submit" (click)="addTodo()" class="btn-text">+</button>
      </form>
    </div>
    <app-card *ngFor="let item of nameArray" [item]="item" (outputEvent)="deleteValue($event)" style="width: 100%;"></app-card>
  </div>
  <app-table [tableData]="childData" (newItemEvent)="addItem($event)"></app-table>
</div>



































<!-- <ul *ngFor="let item of items">{{item}}</ul> -->
<!-- <div>
  <p>
    <input type="text" id="username" name="username" #username>
  </p>
<button type="button" (click)="addNewItem(username.value)">Clickme</button>
</div> -->
